@charset "UTF-8";

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 50px 50px 70px 50px;
    text-align: center;
    background-color: #9370DB;
    border-radius: 6px;
    width: 350px;
    margin: auto;
    margin-top: 15%;
    color: white;
    font-size: 25px;
    font-family: 'Roboto Slab', serif;
}

input[type=text], [type=password] {
    padding: 10px 10px 10px 10px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    color: black;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;  
    vertical-align: middle;
    width: 50%;
}

input[type=submit] {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    color: black;
    padding: 10px 20px;
    margin: 7px 35px 0px 0px;
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: rgb(110, 59, 212);
    color: white;
    border-radius: 6px;
}