
@charset "UTF-8";

* {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
}

@media print{
  #side { 
    display: none; }
  #action{
    display: none; 
  }
  #addAction{
    display: none; 
  }
  #buttonExtra{
    display: none; 
  }
  #extraContent{
    display: none; 
  }
  #dropContent{
    display: none;    
  }
  #doList { 
    display: block;
    position: absolute;
    top: 10px; 
    left: 20px;
  }
}

#wrapper{
  width: 100%;  
}

.row {
  margin: 0 -5px;
  display: flex;
}

.card {
  width: 1050px;
  height: 100%;
  min-height: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2);
  padding: 30px;
  text-align: center;
  background-color: #f1f1f1;
}

.list-card {
  height: 20%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2);
  padding: 12px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  background-color: #f1f1f1;
  text-align: center;

}

.task-card {
  cursor: pointer;
  height: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2);
  padding: 30px;
  margin-top: 10px;
  text-align: center;
  background-color: #f1f1f1;
}

tr button {
  float: right;
}

td {
  padding: 50px;
  text-align: left;
}

.main {
  flex: 80%;
  margin: 10px;    
}

.side {
  flex: 20%;
  padding: 0px 5px 0px 30px;
  margin: 10px;
}

#lists {
  font-family: 'Roboto Slab', serif;
  border-collapse: collapse;
  width: 100%;
}

#lists td {
  padding: 10px;
  align-content: left;
}

#lists td:hover {
  background-color: #b198e6b9;
  border-radius: 6px;
  color: white;
}

.btn-trash {
  background-color: rgba(0,0,0, 0);
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 6px;
  padding: 5px 5px 5px 5px;
}

.btn-trash:hover {
  background-color:rgb(83, 68, 170);
  color: white;
  padding: 5px 5px 5px 5px;
  border-radius: 6px;
}

.btn-pencil{
  margin-left: 5px;
  background-color: rgba(0,0,0, 0);
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 6px;
  padding: 5px 5px 5px 5px;
}

.btn-pencil:hover {
  background-color:rgb(83, 68, 170);
  color: white;
  padding: 5px 5px 5px 5px;
  border-radius: 6px;
}

.button {
  background-color: #9370DB;
  font-family: 'Roboto Slab', serif;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
  display: inline-block;
  color: white;
}

.button span {
  cursor: pointer;
  display: inline-block;
  transition: 0.5s;
}

.button span:after {
  content: ' +';
  opacity: 0;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 9px;
}

.button:hover span:after {
  opacity: 1;
  right:0;
}

.logout-button{
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  font-weight: bold;
  background-color: white;
  color: black;
  padding: 5px 10px;
  margin-right: 25px;
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
  float: right;
  letter-spacing: 1px;
}

.logout-button:hover {
  background-color: rgb(182, 171, 189);
  color: white;
  border-radius: 6px;
}

.dropbtn {
  position: relative;
  background-color: #9370DB;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  min-width: 184px;
  float: left;
  margin-top: 60px;
  margin-left: 20px;
 
}

.dropdown-content {
  position: absolute;
  display: none;
  background-color: white;
  min-width: 184px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 115px;
  margin-left: 20px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: white;
  background-color:#b198e6;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: black;
  background-color: white;
}

input[type=text] {
  width: 60%;
  box-sizing: border-box;
  border: 2px solid #9370DB;
  border-radius: 6px;
  background-color: white;
  padding: 12px 20px 12px 40px;
  float:left;
  margin-left: 5px;  
  margin-top: 60px;
}

.add-button {
  background-color:rgb(83, 68, 170);
  font-family: 'Roboto Slab', serif;
  width: 10%;
  color: white;
  padding: 14px;
  border-radius: 6px;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
  float: left;
  margin-top: 27px;
  margin-left: 5px;
}

.add-button:hover{
  background-color: #9370DB;
  color: white;
}

.extra {
  background-color: #9370DB;
  margin-top: 5px;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 60px;
  float: left;
  margin-top: 27px;
  margin-left: 5px;
}

.extra-content {
  display: none;
  background-color: white;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin: 0px 25px 0px 0px;
}

.extra-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.extra-content a:hover {
  color: white;
  background-color:#b198e6b9;
}

.dropdown-extra:hover .extra-content {
  display: block;
  right: 0;
  position: fixed;
  top: 156px;
}

.dropdown-extra:hover .extra {
  color: black;
  background-color: white;
}

.task-board {
  border: 6px;
  margin-top: 160px;
  margin-left: 90px;
  height: 800px;
  width: 80%;
  background-color: white;
  border-radius: 15px;
}

#container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  border: 1px solid #b198e6;
  padding: 5px;
  border-radius: 20px;
}

#container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 9px;
  left: 15px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #eee;
}

#container:hover input ~ .checkmark {
  background-color: #ccc;
}

#container input:checked ~ .checkmark {
  background-color:rgb(83, 68, 170);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

#container input:checked ~ .checkmark:after {
  display: block;
}

#container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.hidden {
  position: absolute;
  appearance: none;
}

.list {
  display: flex;
}

.check--label {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  align-items: center;
  height: 50px;
}

.check--label-box {
  display: flex;
  align-self: center;
  position: relative;
  height: 25px;
  width: 25px;
  margin: 0 20px;
  border: 2px solid rgb(83, 68, 170);
  cursor: pointer;
  border-radius: 50%;
}

.check--label-text {
  position: relative;
  display: flex;
  cursor: pointer;
  align-self: center;
  padding: 20px;
  font-size: 22px;
  border-left: 1px solid #ecf0f1;
}

.check--label-text:after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 7.5%;
  transform: translateY(-50%);
  transition: width 100ms ease-in-out;
}

.hidden:checked + .check--label {
  background-color: #fff;
}

.hidden:checked + .check--label .check--label-box {
  background-color: rgb(83, 68, 170);
}
.hidden:checked + .check--label .check--label-box:after {
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  left: 7px;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.hidden:checked + .check--label .check--label-text:after {
  width: 85%;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}

.avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: -20px;
}

.avatar-upload .avatar-edit input {
  display: none;
}

.avatar-upload input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all .2s ease-in-out;
}

.avatar-upload input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.avatar-upload input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 2px;
  left: 0px;
  right: 0px;
  text-align: center;
  margin: auto;
}

.avatar-preview {
  width: 200px;
  height: 200px;
  position: relative;
  top: -35px;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

